@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

:root{
    --bg-hero: url("./assets/bg_hero_medium.jpg");
    --bg-content: url("./assets/bg_content_dark_large.jpg");
    --text-color: #fff;
    --shadow-text: rgba(48,48,48,0.4);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    color: var(--text-color);
}

html{
    font-size: 62.5%;  
}

body{
    font-size: 1.6rem;
}

.main-container, .nav-container{
    max-width: 110rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header{
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 3;
    top: 0;
    background-color: var(--shadow-text);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

h1, h2, h3{
    text-align: center;
}

h2{
    margin-bottom: 1.5rem;
}

.nav-container{
    max-width: 110rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul{
    list-style: none;
}

li{
    font-size: 2.1rem;
    cursor: pointer;
}

.is-focus{
    color: #D870D8;
}

li:hover{
    color: #D870D8;
}

.simbolo-menu-container{
    display: none;
}

li figure{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
}

.menu-mobile{
    width: 100%;
    background-color: rgba(0,0,0, 0.97);
    position: fixed;
    top: 0;
    z-index: 2;
    display: none;
}

.menu-nav-mobile{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 6.5rem 0 2rem;
    gap: 1rem;
}

.nav-mobile{
    width: 50%;
    margin: 0 auto;
}

#menu-icon{
    width: 3rem;
    height: 3rem;
}

.wrapper-menu-nav{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-nav{
    min-width: 48rem;
    max-width: 60rem;
    display: flex;
    justify-content: space-between;
}

.social-header-links{
    min-width: 11rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 2rem;
}

.social-header-links img{
    width: 3.2rem;
    height: 3.2rem;
}

.childs{
    max-width: 100%;
    min-height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6.5rem 5vw 2rem; 
}

.sections{  
    background: #403A3E; 
    background: linear-gradient(to right, #BE5869, #403A3E);
    background: -webkit-linear-gradient(to right, #BE5869, #403A3E); 
}

#hero-section{
    justify-content: center;
    align-items: end;
    padding-bottom: 5rem;
    background-image: var(--bg-hero);
    background-position: 50% 60%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

#hero-div-container{
    max-width: 92%;
    height: 28em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

h1{
    padding: 0 0.5em;

    font-size: clamp(3.6rem, 6vw, 6rem);
    font-weight: 700;
    color: var(--text-color);

    background-color: var(--shadow-text);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 8px;
}

.arrows{
    width: 60px;
    height: 72px;
    /* margin-top: 30%; */
}

.arrows path{
    stroke: var(--text-color);
    fill: transparent;
    stroke-width: 1px;
    animation: arrow 2s infinite;
    -webkit-animation: arrow 2s infinite;
}

@keyframes arrow{
    0% {opacity:0}
    40% {opacity:1}
    80% {opacity:0}
    100% {opacity:0}
}

@-webkit-keyframes arrow{
    0% {opacity:0}
    40% {opacity:1}
    80% {opacity:0}
    100% {opacity:0}
}

.arrows path.a1{
    animation-delay: -1s;
    -webkit-animation-delay: -1s;
}

.arrows path.a2{
    animation-delay: -0.5s;
    -webkit-animation-delay: -0,5s;
}

.arrows path.a3{
    animation-delay: 0s;
    -webkit-animation-delay: 0s;
}

.left-side{
    transform: rotateX(180deg);
}

.profile-container{
    max-width: 85rem;
    width: 92%;
    display: flex;
    justify-content: center;
    align-items: strech;
    gap: 5rem;
}

.profile-card{
    max-width: 45rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--shadow-text);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    padding: 3rem;
    border-radius: 12px;
}

.flex{
    display: flex;
}

.column{
    flex-direction: column;
}

.justify-center{
    justify-content: center;
}

.align-center{
    align-items: center;
}

.gap-20{
    gap: 2rem;
}

.wrapper-profile-content ,.wrapper-profile-image, .wrapper-profile-text {
    width: 100%;
}

.profile-image{
    width: 15rem;
    height: auto;
    border-radius: 50%;
    border: 0.4rem solid #D870D8;
}

.name-text{
    font-size: 2.1rem;
    margin-top: 1.5rem;
}

.profile-text{
    font-size: 1.7rem;
    text-align: center;
    width: 80%;
    margin-top: 1rem;
}

.social-text{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    border-radius: 15px;
    background-color: #D870D8;
    color: #fff;
    margin-top: 3.5rem;
}

.down-arrow{
    transform: rotate(-90deg);
}

.divider{
    width: 100%;
    border-top: 0.5px solid #bfbfbf;
    margin: 2rem 0;
}

.icons-container{
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.icon-box{
    width: 100%;
    text-align: center;
}

.icon-item{
    width: 4rem;
    height: 4rem;
}

.profile-sinopse{
    max-width: 45rem;
    width: 100%;
    font-size: 1.7rem;
    background-color: var(--shadow-text);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    padding: 3rem 2.5rem;
    border-radius: 12px;
}

.main-container-projects{
    max-width: 85rem;
    width: 92%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1.5rem;
}

.view-projects{
    width: 100%;
    max-height: 55rem;
    height: 200dvh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--shadow-text);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 12px;
    padding: 2.5rem 0;
}

.wrapper-arrows-responsive{
    width: 15rem;
    display: none;
}

.back-arrow{
    transform: rotate(180deg);
}

.projects-container{
    width: 85%;
    height: 100%;
    display: flex;
    align-items: center;
    transition: 0.5s;
    position: relative;
}

.project{
    width: 100%;
    height: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    row-gap: 1rem;
    background-color: rgba(0,0,0,0.2);
    border-radius: 12px;
    position: absolute;
    opacity: 0;
    z-index: 0;
    transition: all 1s ease;
}

.active{
    opacity: 1;
    z-index: 1;
}

.project:hover{
    transform: scale(1.05);
}

.preview{
    width: 100%;
    max-height: 28.5rem;
    object-fit: cover;
    object-position: 50% 0%;
    border-radius: 12px;
}

.description-project{
    width: 95%;
    background-color: rgba(0,0,0,0.6);
    font-size: 1.4rem;
    padding: 1.5rem;
    border-radius: 12px;
}

.link-project{
    font-size: 1.2rem; 
}

.back-arrow, .forward-arrow{
    width: min-content;
    cursor: pointer;
}

.main-container-technologies{
    max-width: 85rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2.5rem;
}

#view-container-technologies{
    width: 100%;
    padding: 3rem;
    row-gap: 3rem;
    background-color: var(--shadow-text);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 12px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
}

.img-container-technologies{
    min-width: 7rem;
    max-width: 9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
    row-gap: 0.5rem;
}

.technologies-images{
    width: 100%;
    transition: 1s;
}

.technologies-images:hover{
    transform: scale(1.2);
}

form{
    width: 92%;
    max-width: 45rem;
    background-color: var(--shadow-text);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    border-radius: 8px;
}

form > h3{
    margin-bottom: 2rem;
}

.fieldset{
    width: 100%;
    border: none;
    margin-bottom: 1.5rem;
}

input, label{
    width: 100%;
    border: none;
    border-radius: 8px;
}

input{
    height: 3rem;
    padding: 0.5rem;
}

input, textarea{    
    margin-top: 0.5rem;
    color: #000;
}

input:focus, textarea:focus{
    outline: 0.3rem solid #D870D8;
}

textarea{
    width: 100%;
    height: 10rem;
    padding: 0.5rem;
    border-radius: 8px;
}

.input-error{
    color: #ff8080;
    font-size: 1.2rem;
    margin-top: 0.2rem;
}

#send{
    width: 25rem;
    height: 6rem;
    border: none;
    border-radius: 8px;
    background-color: #D870D8;
    cursor: pointer;
}

footer{
    width: 100%;
    height: 8rem;
    background-color: rgb(147, 108, 108);
    font-size: 1.2rem;
}

.footer-items{
    width: 100%;
    height: 100%;
    background-color: var(--shadow-text);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-flex{
    display: flex;
    justify-content: center;
}

@media(max-width: 1200px){
    .main-container{
        flex-direction: column;
        justify-content: center;
        gap: 8rem;
    }

    .left-side{
        display: none;
    }

    .profile-container{
        flex-direction: column;
        align-items: center;
    }

    .wrapper-profile-content{
        flex-direction: row;
    }

    .icons-container{
        align-self: end;
    }

    #view-container-technologies{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media(max-width: 1000px){
    .profile-container{
        gap: 3rem;
    }

    .wrapper-profile-content{
        flex-direction: column;
    }

    .icons-container{
        align-self: center;
    }
}

@media(max-width: 880px){
    .childs{
        padding-right: 0;
        padding-left: 0;
    }

    #view-container-technologies{
        width: 92%;
    }

    .view-projects{
        background-color: transparent;
        flex-direction: column;
        gap: 2rem;
        padding: 2rem 0;
        max-height: 68rem;
    }

    .projects-container{
        width: 100%;
    }

    .view-projects > svg{
        display: none;
    }
    
    .wrapper-arrows-responsive{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .description-project{
        width: 100%;
    }
}

@media(max-width: 720px){
    .social-header-links{
        display: none;
    }
} 

@media(max-width: 550px){
    #hero-section{
        background-image: url("./assets/bg_hero_small.jpg");
    }

    .wrapper-menu-nav{
        display: none;
    }

    .simbolo-menu-container{
        width: 100%;
        display: block;
        margin: 0 auto;
    }

    .view-projects{
        max-height: 52rem;
    }

    #view-container-technologies{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 350px){
    #hero-div-container{
        height: 23em;
    }
}
